.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
content/Mechatronics Systems Design/Textbooks/Mechatronics with Experiments.pdf
content/Mechatronics Systems Design/Textbooks/Modern Control Systems - Richard Dorf.pdf
